*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    background-color: rgb(88, 56, 124);
    font-family: sans-serif;
}

.container{
    background-color: rgb(123, 82, 169);
    border-radius: 50%;
    padding: 5rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.9);
    max-width: 400px;
}

form{
    margin-top: 1rem;
}

h1{
    font-size: 28px;
    margin-bottom: 10px;
    color: rgb(239, 249, 249);
}

p{
    font-weight: bold;
    margin-bottom: 1rem;
    color: #f1eded;
}

label{
    display: block;
    padding: 10px;
    font-size: 16px;
    color: #f3eded;
    font-weight: bold;
}

input{
    margin-bottom: 1rem;
    padding: 10px;
    font-size: 16px;
    border: 1px solid rgb(220, 220, 211);
    border-radius: 20px;
    transition: border-color 0.3s ease-in-out;
}

input:focus{
    outline: none;
    border: 5px solid;
    border-color: rgb(82, 57, 135);
}

#convertedWeight{
    margin-top: 0.5rem;
    font-size: 20px;
    font-weight: bold;
    color: rgb(215, 208, 158);
    display: inline-block;
}